@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e293b;
  --foreground: #e4e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

#particle-background {
  z-index: -1;
  height: 20%;
  width: 100%;
  position: absolute;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-in-left-animation {
  visibility: visible;
  animation: slide-in-left 800ms ease-in-out;
}

.slide-in-right-animation {
  visibility: visible;
  animation: slide-in-right 800ms ease-in-out;
}

.slide-in-bottom-animation {
  visibility: visible;
  animation: slide-in-bottom 800ms ease-in-out;
}

.slide-in-top-animation {
  visibility: visible;
  animation: slide-in-top 800ms ease-in-out;
}

.fade-in-animation {
  animation: fade-in 800ms ease-in-out forwards;
}
