@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1e293b;
	--foreground: #e4e7eb;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

html {
	scroll-behavior: smooth;
}

#particle-background {
	z-index: -1;
	position: fixed;
}

@keyframes slide-in-left {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(50px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	from {
		transform: translateY(50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-top {
	from {
		transform: translateY(-50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slide-in-left-animation {
	animation-name: slide-in-left;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.slide-in-right-animation {
	animation-name: slide-in-right;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.slide-in-bottom-animation {
	animation-name: slide-in-bottom;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.slide-in-top-animation {
	animation-name: slide-in-top;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

.fade-in-animation {
	animation-name: fade-in;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
